@page
@model startBank.Pages.Account.IndexModel
@{
}
<p style="padding-top:30px"></p>
<div class="card" style="background:black; color:white;">
    <div class="card-header">
        <h1>Alla Accounts</h1>
    </div>
    @foreach (var b in Model.Accounts)
    {
        <h3>
            <a asp-page="Withdraw" asp-route-accountId="@b.AccountId"><i class='bx bx-money-withdraw'></i></a>
            <a asp-page="Deposit" asp-route-accountId="@b.AccountId"><i class='bx bx-plus-circle'></i></a>
        </h3>
        break;
    }

  @*  <div class='get-started-btn scrollto'>
        <label for="numberOfRows">Show:</label>
        <form id="transactionFilterForm" method="get">
            <input type="hidden" name="accountId" value="@Model.AccountId" />
            <select id="numberOfRows" name="numberOfRows" asp-for="@Model.SelectedNumberOfRows" asp-items="@Model.RowsOptions">
            </select>
        </form>
    </div>
*@
    <div class='get-started-btn scrollto' style='position: absolute; top: 30px; right: 10px;'>
        <form id="transactionFilterForm" method="get">  
            <input type="hidden" name="accountId" value="@Model.AccountId" />
                <select id="numberOfRows" name="numberOfRows" asp-for="@Model.SelectedNumberOfRows" asp-items="@Model.RowsOptions">
                </select>
        </form>
    </div>


    <div class="card-body">
        <table class="table">
            <tr style="color:white">
                <th>TransactionId</th>
                <th>AccountId</th>
                <th>Date</th>
                <th>Operation</th>
                <th>Balance</th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var acc in Model.Accounts)
            {
                <tr class="CustomerHover">

                    <td>@acc.TransactionId</td>
                    <td>@acc.AccountId</td>
                    <td>@acc.Date</td>
                    <td>@acc.Operation</td>
                    <td>@acc.Balance</td>
                </tr>
            }
        </table>
    </div>
</div>
@section Scripts{
    <script>
        document.getElementById('numberOfRows').addEventListener('change', function () {
            document.getElementById('transactionFilterForm').submit();
        });
    </script>
}