@page
@model startBank.Pages.OneCustomerModel
@{
    var detail = Model.OneCustomerDetail;
    string message = "Norwegian don't have an ID";
}

@*<h1 class="CustomerOne" style="padding-top:100px;"> @Model.CustomerName</h1>
<h6 class="CustomerOne">ID: @Model.NationalID</h6>
<h6 class="CustomerOne">Address: @Model.Adress</h6>
<h6 class="CustomerOne" style="padding-bottom:100px;">City: @Model.City</h6>*@

@*<div class="customer-container">
    <h1 class="CustomerOne">@Model.CustomerName</h1>
    <h6 class="CustomerOne">ID: @Model.NationalID</h6>
    <h6 class="CustomerOne">Address: @Model.Adress</h6>
    <h6 class="CustomerOne">City: @Model.City</h6>
</div>*@


<div class="container-fluid">
    <div class="row">
        <div class="profile-head">
            <div class="profiles col-xs-8 col-xs-push-2  col-sm-10 col-sm-push-1 thumbnail">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="row">
                        <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="img-responsive" />
                        <li class="img-name"><h1>@detail.Name</h1></li>
                    </div>
                </div>

                <div class="col-md-9" style="color: white">
                    <div id="row">
                        <span class="col-sm-12"></span>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <ul>
                                <li>Gender:<span> @detail.Gender</span></li>
                                <li>Name:<span> @detail.Name</span></li>
                                <li>Lastname:<span> @detail.LastName</span></li>
                                @if (@detail.Country != "Norway")
                                {
                                    <li>National ID:<span> @detail.NationalID</span></li>
                                }
                                else
                                {
                                    <li>NationalID: <span> @message</span></li>
                                }
                                <li>Country:<span> @detail.Country</span></li>
                                <li>City:<span> @detail.City</span></li>
                                <li>Address:<span> @detail.Address</span></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <ul>
                                <li>Email:<span> @detail.Email</span></li>
                                <li>Phone:<span> @detail.Phone</span></li>
                                <li>Account ID:<span> @detail.AccountId</span></li>
                                <li>Balance:<span> @detail.Balance</span></li>
                                <li>Total balance:<span> @detail.TotalBalance</span></li>
                            </ul>   
                        </div>
                        @*  <li class="sidenav__list-item">
                        <td>
                        <a asp-page="/Account/Index" asp-route-accountId="@detail.AccountId">
                        <i class="bx bx-pie-chart-alt-2">  History</i>
                        </a>
                        </td>
                        <td>
                        <a asp-page="/Account/Withdraw" class='bx bx-money-withdraw' asp-route-accountId="@Model.OneCustomerDetail.AccountId">Withdraw</a>
                        <a asp-page="/Account/Deposit" class='bx bx-plus-circle' asp-route-accountId="@Model.OneCustomerDetail.AccountId">Deposite</a>
                        </td>
                        </li>*@
                    </div>
          
                </div>
            </div>
        </div>
    </div>
</div>
<div></div>
<div class="d-flex justify-content-center" style="gap:30px; padding-top:5px;">

    <a asp-page="/Account/Index" id="shadow__btn" class=" bx bx-pie-chart-alt"
       asp-route-accountId="@detail.AccountId">History</a>

    <a asp-page="/Account/Withdraw" id="shadow__btn" class='bx bx-money-withdraw'
       asp-route-accountId="@Model.OneCustomerDetail.AccountId">Withdraw</a>

    <a asp-page="/Account/Deposit" id="shadow__btn" class='bx bx-plus-circle get-started-btn scrollto'
       asp-route-accountId="@Model.OneCustomerDetail.AccountId">Deposite</a>

    <a asp-page="/Account/Transactions" id="shadow__btn" class="bi bi-currency-exchange"
       asp-route-AccountId="@Model.OneCustomerDetail.AccountId">Transaction</a>
</div>

